* {
	font-family: Average, serif;
}

body {
	background-image: url("../assets/graffiti02.jpg");
}

header {
	font-family: 'Oleo Script', 'sans serif';
	color: #333399;
}

#choices h4 {
	margin-top: 50px;
}

.list-group-item {
	border: 0px;
}

a.list-group-item:hover, a.list-group-item:focus {
	background-color: #ffffcc;
}

.eachFilling {
	margin-top: 50px;
}

.counter {
	color: gray;
	font-size: small;
}

.filling {
	margin-left: 10px;
}

#better {
	font-family: Condiment, 'sans serif';
}
