* {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background: 
        linear-gradient(rgba(0,0,153,0.80), rgba(0,0,153,0.80)),
    	url("../assets/graffiti_col_scaled.jpg");
}

header {
	font-family: 'Amatic SC', 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
	cursor: pointer;
    font-size: 300%;
}

/*a.tsub:hover {
    text-decoration-line: underline;
    text-decoration-color: inherit;
}*/

a.tsub:hover, a.tsub:focus {
    background-color: #000099;
    text-decoration: underline white;
}

#about_launcher {
    color: white;
    cursor: pointer;
}

.exp_col_icon {
    color: white;
    margin-left: 20px;
}

#collapse_icon {
    display: none;
}

#about_text {
	display: none;
    color: white;
}

#choose {
	font-weight: 900;
    color: white;
}

#choices h4 {
	margin-top: 20px;
    color: white;
}

#chosen_speech_title {
    color: white;
}

.list-group-item {
	background-color: rgba(255,255,255,0);
	border: 0px;
    color: white;
}

a.list-group-item:hover, a.list-group-item:focus {
	background-color: #000066;
    color: blue;
}

#sname {
    color: white;
}

#sauth {
    color: white;
}

.eachFilling {
	margin-top: 50px;
}

.counter {
	color: #cccccc;
	font-size: small;
}

.filling {
	margin-left: 10px;
    font-family: 'Permanent Marker', cursive;
}

#resultText {
    color: white;
}

.resultfilling {
    font-style: italic;
    font-family: 'Permanent Marker', cursive;
    color: white;
}

#better {
	font-family: Condiment, cursive;
    margin-top: 50px;
}
