<!DOCTYPE html>
<html ng-app="speechChoices">
	<head>
		<title>Much Better Speeches</title>
		<meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
		<link type="text/css" rel="stylesheet" href="css/stylesheet.css">
		<link href="http://fonts.googleapis.com/css?family=Average&subset=latin" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Oleo Script&subset=latin" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Condiment&subset=latin" rel="stylesheet" type="text/css">
		<script src="js/angular.min.js"></script>
		<script src="js/angular-sanitize.min.js"></script>
		<script src="node_modules/ng-focus-if/focusIf.min.js"></script>
		<script src="js/jquery-1.11.3.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/index.js"></script>
		<script src="js/app.js"></script>		
	</head>
	<body>
		<div class="container-fluid">
			<div class="col-md-4 col-md-offset-4" ng-controller="SpeechListController as speechList">
				<a>
					<header class="text-center" ng-click="speechList.initialize()">
						<h1>Much Better Speeches</h1>
						<h3>Remix history's great speeches</h3>
					</header>
				</a>

				<!-- Starting panel: List of speeches. List disappears when player chooses a speech. -->
				<div id="choices" ng-show="speechList.panel=='listPanel'">
					<h4 id="about_launcher" class="text-center">What Is This?</h4>
					<p id="about_text">Once you choose a speech, you'll be presented with a series of blanks. Fill them in with whatever words you like. When you're done, we'll replace words in the text with your words.</p>
					<h4 id="choose" class="text-center">Choose a speech:</h4>
					<div class="list-group" ng-repeat="speech in speechList.speeches">
						<a href="#" class="list-group-item text-center" ng-click="speechList.listSubmit($index)">
							<h4 id="sname">{{speech.name}}</h4>
							<h5 id="sauth">{{speech.author_first_name}} {{speech.author_surname}}</h5>
						</a>
					</div>
				</div> <!-- choices -->

				<!-- Fillings panel appears once player has chosen a speech. Includes speech name and author information, followed by the list of boxes for player input -->
				<div id="fillings" ng-show="speechList.panel=='fillingsPanel'">

					<!-- Speech name and author -->
					<h3 class="text-center">{{speechList.selected.name}}</h3>
					<h4 class="text-center">{{speechList.selected.author_first_name}} {{speechList.selected.author_surname}}</h4>

					<!-- The input boxes for the player's chosen words appear one by one. -->
					<div class="eachFilling" ng-repeat="filling in speechList.selected.fillings track by $index">
						<b><i><span class="counter" ng-show="speechList.fillingsCounter==$index">{{$index+1}} of {{speechList.selected.fillings.length}}</span></i></b>
						<input type="text" name="filling" id="filling"+{{$index+1}}.toString() class="filling" placeholder="{{filling.pos}}" focus-if="speechList.fillingsCounter==$index" ng-show="speechList.fillingsCounter==$index" ng-model="filling.text" ng-keyup="($event.keyCode==13 && !($last) && speechList.fillingsNext()) || ($event.keyCode==13 && $last && speechList.fillingsSubmit())" />
						
						<div class="pull-right">
							<button class="btn btn-default btn-sm" type="button" ng-show="speechList.fillingsCounter==$index" ng-click="speechList.initialize()">Home</button>
							<button class="btn btn-default btn-sm" type="button" ng-show="speechList.fillingsCounter==$index && $index!=0" ng-click="speechList.fillingsPrevious()">Back</button>

							<!-- The "Next" button appears beside each input box until the last one, where the "Finished" button shows up. -->
							<button class="btn btn-default btn-sm" type="submit" ng-show="(speechList.fillingsCounter==$index) && !($last)" ng-click="speechList.fillingsNext()">Next</button>
							<button class="btn btn-default btn-sm" type="submit" ng-show="(speechList.fillingsCounter==$index) && $last" ng-click="speechList.fillingsSubmit()">Finished</button>
						</div> <!-- pull-right -->
					</div>
				</div> <!-- fillings -->

				<!-- Results panel: Resulting final speech with player-entered words -->
				<div id="resultText" ng-show="speechList.panel=='resultsPanel'">
					<h3 class="text-center">{{speechList.selected.name}}</h3>
					<h4 class="text-center">{{speechList.selected.author_first_name}} {{speechList.selected.author_surname}}</h4>
					<div>
						<p ng-bind-html="speechList.htmlResult"></p>
					</div>
					<h4 id="better">That's Much Better!</h4>
					<button class="btn btn-default autofocus" type="submit" ng-click="speechList.initialize()">Play again</button>
				</div> <!-- resultText -->

			</div> <!-- SpeechListController -->
		</div> <!-- container-fluid -->

	</body>
</html>